.head{
    position: sticky;
    overflow: hidden;
    top: 0;
    z-index: 2;
    width: 100%;
}
.nav-bg{
    background-image: linear-gradient(to bottom right, rgb(195, 248, 134), rgb(236, 168, 245));
}
#brand{
    color: red;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
}
.nav-bg .nav{
    font-size: 25px;
    color: white;
    font-weight: bold;
    background: red;
    margin-right: 8px;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
}
.nav-bg .nav:hover{
    color: black;
    background: white;
}

.nav-bg .active{
    color: black;
}

.nav-bg img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: none;
    margin: 2px;
    border: 3px solid red;
    transition: all ease-in-out .2s;
}
.nav-bg img:hover{
    scale: 1.1;
    border: 2px solid white;
}
